<section id="header-top">
    <a href="./">
        <img id="logo-img" src="./images/logo.png" alt="logo image"/>
    </a>
    <section id="account-section">
        <button id="account-btn"><img src="./images/account.png" alt="account"/></button>
        
        <p><%= fname + " " + lname %></p>
    </section>
</section>

<section id="search-section">
    <form id="search-form">
        <input required type="text" id="search-form__input" placeholder="Search..."/><button type="submit" id="search-form__submit"> <img id="search-img" src="./images/search.png" /> </button> <br>
    </form>
</section>