<title>Webshop</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<!--Only send login script if user isn't logged in-->
<% if(!loggedIn) { %> <script type="text/javascript" src="./scripts/login.js"></script> <% } %>