<!-- login screen overlay -->
<section id="login-screen-overlay-background">
  <section id="login-screen-overlay">
    <a
      href="javascript:void(0)"
      id="close-btn-login"
      class="close-btn close-btn__left-panel"
      >&times;</a
    >
    <h1>Login</h1>
    <h2>Enter credentials:</h2>
    <form action="/login" method="post">
      E-mail: <input type="text" name="email" /><br />
      password: <input type="password" name="password" /><br />
      <input type="submit" value="Submit" />
    </form>
    <p>Don't have an account yet? <a href="./register.html">Register now</a>.</p>
  </section>
</section>
