<!-- login screen overlay -->
<section id="login-screen-overlay-background">
  <section id="login-screen-overlay">
    <a
      href="javascript:void(0)"
      id="close-btn-login"
      class="close-btn close-btn__left-panel"
      >&times;</a
    >
  </section>
</section>
