<!-- Account menu overlay -->
<section id="menu-overlay">
  <a
    href="javascript:void(0)"
    id="close-btn-account-menu"
    class="close-btn close-btn__right-panel"
    >&times;</a
  >
  <section id="menu-overlay__content">
    <h1>Welcome <%= fname %></h1>
    <ul>
      <form action="logout" method="post">
        <button type="submit">Log out</button>
      </form>
      <li><a>Ga naar hier</a></li>
      <li><a>Ga naar hier aajsf </a></li>
      <li><a>Ga naar hiera akdsj ljf sakf </a></li>
    </ul>
  </section>
</section>
