<!-- Account menu overlay -->
<section id="menu-overlay">
  <a
    href="javascript:void(0)"
    id="close-btn-account-menu"
    class="close-btn close-btn__right-panel"
    >&times;</a
  >
  <section id="menu-overlay__content">
    <h1>Welcome <%= fname %></h1>
    <ul>
      <li><a href="/profile.html">Profile</a></li>
      <li><a href="/settings.html">Account settings</a></li>
    </ul>
    <form action="logout" method="post">
      <button type="submit">Log out</button>
    </form>
  </section>
</section>
