.bordered-div {
    border-top: 1px solid rgb(107, 107, 107);
    border-bottom: 1px solid rgb(107, 107, 107);
}

#book-header {
    height: 320px;
    background-color: rgb(228, 250, 239);
    padding: 5%;
    position: relative;
    align-content: center;
    vertical-align: middle;
}

#book-header__content {
    height: 90%;
    width: 90%;
    margin: auto;
    text-align: center;
    display: block;
}

#book-header img {
    display: inline-block;
    max-height: 75%;
    max-width: 40%;
    object-fit: contain;
    margin-right: 15px;
}

#book-header section {
    display: inline-block;
}
#book-header h1 {
    font-size: 1.8em;
    text-align: left;
    max-height: 90%;
    overflow: hidden;
    margin-top: 0px;
}

#book-header h2 {
    color: rgb(121, 121, 121);
    font-size: 1em;
    text-align: left;
    bottom: 0px;
}

#book-more-info {
    text-align: center;
}

#book-more-info ul {
    text-align: left;
    margin: 15px 0px;
}

#author-img-section img {
    max-width: 75%;
    max-height: 75%;
}

#author-img-section p {
    margin-top: 5px;
    display: block;

}

#not-logged-in-purchase-msg {
    padding: 20px;
    border: 1px solid red;
}

#buy-btn {
    width: 100%;
    background: white;
	border: none;
    cursor: pointer;

    margin: 25px auto;
    padding: 15px;
}

.book-review {
    border: 2px solid black;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    display: block;
}

.book-review h3 {
    display: inline;
}

.book-review h4 {
    color: rgb(77, 77, 77);
    margin: 3px 0px;
}



.star-rating {
    display: inline;
    margin-right: 5px;
}

.checked {
    color: rgb(219, 231, 45);
}



@media only screen and (min-width: 992px) {

}