.bordered-div {
    border-top: 1px solid rgb(107, 107, 107);
    border-bottom: 1px solid rgb(107, 107, 107);
}

#book-header {
    min-height: 300px;
    height: 100%;
    width: 100%;
    background-color: rgb(228, 250, 239);
    padding: 2%;
    position: relative;
    display: block;
    box-sizing: border-box;
}

#purchase-content {
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

#book-header-info {
    height: 100%;
    width: 100%;
    /* background-color: rgb(228, 250, 239);
    padding: 5%;
    position: relative; */
    overflow: hidden;
    /*vertical-align: middle;
    box-sizing: border-box; */
}

#book-header__content {
    margin: auto;
    /* min-width: 500px; */
    text-align: center;
    display: block;
}

#book-header__content-left {
    align-content: center;
}

#book-header-info img {
    min-width: 80px;
    max-width: 165px;
    object-fit: contain;
    box-sizing: border-box;
}

#book-header-info section {
    text-align: center;
}
#book-title {
    font-size: 1.5em;
    position: relative;
    margin: 5px;
    display: inline-block;
}

#book-author {
    color: rgb(121, 121, 121);
    margin-top: 2%;
    width: 100%;
    font-size: 1em;
    text-align: center;
    display: block;
}

#book-more-info {
    text-align: center;
    align-content: left;
}

#book-more-info ul {
    text-align: left;
    margin: 15px 0px;
}

#author-img-figure img {
    margin-top: 5px;
    max-width: 200px;
    max-height: 200px;
}

#not-logged-in-purchase-msg {
    padding: 20px;
    border: 1px solid red;
}

#buy-btn {
    width: 100%;
    background: rgb(243, 255, 73);
    cursor: pointer;
    border: 1px solid #666363;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 11px;
}

#review-section {
    margin: auto;
    text-align: center;
    overflow: hidden;
    display: block;
    /* height: 200px; */
}

#reviews-left {
    align-content: center;
    width: 50%;
    float: left;
}

#reviews-right {
    display: block;
    width: 50%;
    margin-left: 0%;
    float: right;
}


.book-review {
    border: 2px solid black;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    display: block;
}

.book-review h3 {
    display: inline;
}

.book-review h4 {
    color: rgb(77, 77, 77);
    margin: 3px 0px;
}



.star-rating {
    display: inline;
    margin-right: 5px;
}

.checked {
    color: rgb(219, 231, 45);
}

#write-review-form label {
    display: block;
}

#write-review-form textarea {
    display: block;
    width: 100%;
    border: 1px solid #AFC2D5;
}

@media only screen and (min-width: 992px) {
    #book-header {
        vertical-align: top;
    }

    #book-header__content-left {
        width: 30%;
    }

    #book-header__content-right {
        width: 60%;
        margin-right: 10%;
        float: right;    
    }

    #book-header-info img {
        display: inline-flex;
        float: left;
        max-height: 250px;
    }

    #book-header section {
        vertical-align: top
    }

    #book-title {
        margin-top: 10%;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    #purchase-content {
        width: 22%;
        /* background-color: rgb(255, 255, 255);
        padding: 5%;
        position: relative; 
        align-content: right; */
        /* vertical-align: middle; */
        float: right;
        /* box-sizing: border-box; */
    }

    #book-header-info {
        width: 78%;
        /* background-color: rgb(228, 250, 239);
        padding: 5%;
        position: relative; */
        float: left;
        /*vertical-align: middle;
        box-sizing: border-box; */
    }
}