/* This is the css file for profile.ejs. It's first made for mobile and after that is for pc. */

.user-profile-container {
    padding: 5px;
    border: 1px solid rgb(126, 126, 126);
    overflow: auto;
    white-space: nowrap;
}

.user-profile-container__review {
    display: inline-block;
    width: 95%;
    height: 100%;
    border: 2px solid black;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    vertical-align: top;
}

.user-profile-container__review h3 {
    display: block;
    margin: 0px;
    white-space: normal;
}

.user-profile-container__review h4 {
    color: rgb(77, 77, 77);
    margin: 3px 0px;
}

.user-profile-container__review  p {
    margin: 0px;
    white-space: normal;
}

.user-profile-container__review .star-rating {
    display: block;
    margin: 5px;
}

.user-profile-container__purchase {
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    margin: 10px 5px;
    position: relative;
    height: 100%;
    min-height: 150px;
    width: 95%;
    min-width: 250px;
    box-sizing: border-box;
    vertical-align: top;
}

.user-profile-container__purchase section {
    white-space: normal;
    display: inline-block;
    width: 50%;
}

.user-profile-container__purchase img {
    max-width: 45%;
    max-height: 88%;
    display: inline-block;
    margin: 0 auto;
    right: 10px;
    position: absolute;
}

.user-profile-container__purchase h3 {
    max-height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    box-sizing: border-box;
}

.user-profile-container__purchase h3:hover {
    overflow: auto;
    text-overflow: initial;
}

.user-profile-container__purchase h4 {
    color: rgb(77, 77, 77);
    margin: 3px 0px;
}

.checked {
    color: rgb(219, 231, 45);
}

/* for pc */

@media only screen and (min-width: 992px) {

    .user-profile-container__review {
        width: 50%;
    }

    .user-profile-container__purchase {
        width: 50%;
    }
}