

html {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

    margin: auto;
    background-color: #383842;
    min-height: 100vh;
    width: 100%;
}

body {
    margin: auto;
    align-content: center;

}

header {
    background-color: rgb(177, 177, 177);
    padding: 50px;
}

main {
    padding: 20px;
    text-align: center;
}

#search-section {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}

#search-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    vertical-align: middle;
}

/* FIX: ALIGN FILTER MENU TO INPUT */
#search-form__input {
    box-sizing: border-box;
    width: calc(100% - 60px);
    height: 46px;
    margin: 0px;
    padding: 8px 0px 8px 15px;
    vertical-align: middle;
    border: none;
}

#search-form__submit {
    box-sizing: border-box;
    margin: 0px;
    padding: 8px 15px;
    vertical-align: middle;
    border: none;
}

#search-img {
    height: 30px;
    vertical-align: middle;
}

#search-form__filter-menu {
    text-align: center;
    margin-top: 25px;
}

.search-form__filter-menu__item {

}

#account-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;

	background: none;
	border: none;
	cursor: pointer;
}

#account-btn img {
    width: 75px;
}

#header-logo {
    display: inline-block;
    text-align: left;
}

#header-top {
    width: 100%;
    height: 90px;
    position: relative;
}
