<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="./css/books.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./dhtml/index.js"></script>
    <script type="text/javascript" src="./scripts/books.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>
    <header>
      <% include ../partials/header %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>

    <main>
      <button id="shopping-bag-btn">
        <img src="./images/shopping-bag.png" alt="shopping cart" />
        <span>0</span>
      </button>

      <!-- Search filter menu overlay -->
      <section id="search-filter-menu">
        <a
          href="javascript:void(0)"
          id="close-btn-filter-menu"
          class="close-btn close-btn__left-panel"
          >&times;</a
        >
        <section id="search-filter-menu__content">
          <h1>Filters</h1>
          <section class="search-filter-menu__content__filter">
            <h1>Price</h1>
            <input type="number" name="price-range" value="5" />
          </section>
          <section class="search-filter-menu__content__filter">
            <h1>Genre</h1>
            <ul>
              <li>
                <input type="checkbox" value="fantasy" name="fantasy" />
                <label for="fantasy">Fantasy</label>
              </li>
              <li>
                <input type="checkbox" value="horror" name="horror" />
                <label for="horror">Horror</label>
              </li>
            </ul>
          </section>
          <section class="search-filter-menu__content__filter">
            <h1>Publisher</h1>
            <ul>
              <li>
                <input type="checkbox" value="bloomsbury" name="bloomsbury" />
                <label for="bloomsbury">Bloomsbury</label>
              </li>
              <li>
                <input type="checkbox" value="chilton" name="chilton" />
                <label for="chilton">Chilton</label>
              </li>
            </ul>
          </section>
        </section>
      </section>

      <section id="book-results-main">
        <h1>Search results for:</h1>
        <span id="search-query">Harry Potter</span>
        <h2>In: All</h2>

        <button id="filter-btn">
          Filter
        </button>

        <article class="book-item">
          <img src="./images/hp_debugimage.jpg" />
          <section>
            <h1>J.K. Rowling</h1>
            <h2>Harry Potter and the Philosopher's Stone</h2>
            <!--HIER KOMT DE RATING-->
            <article class="star-rating">
              <span class="fa fa-star checked"><em>4,5 (5 ratings)</em></span>
            </article>
            <!--AANTAL REVIEWS-->
            <p class="book-item__price">14,99</p>
            <button id="order-btn">Order</button>
          </section>
        </article>
      </section>
    </main>
    <section id="search-result-page-menu">
      <a id="search-result-page-menu__left"><</a>
      <ul>
        <li class="current-search-page"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <span>...</span>
        <li><a>10</a></li>
      </ul>
      <a id="search-result-page-menu__right">></a>
    </section>
    
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
