<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="./css/books.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./dhtml/index.js"></script>
    <script type="text/javascript" src="./scripts/books.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>
    <header>
      <% include ../partials/header %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>

    <main>
      <button id="shopping-bag-btn">
        <img src="./images/shopping-bag.png" alt="shopping cart" />
        <span>0</span>
      </button>

      <!-- Search filter menu overlay -->
      <section id="search-filter-menu">
        <a
          href="javascript:void(0)"
          id="close-btn-filter-menu"
          class="close-btn close-btn__left-panel"
          >&times;</a
        >
        <section id="search-filter-menu__content">
          <h1>Filters</h1>
          <section id="price-filter" class="search-filter-menu__content__filter">
            <h1>Max Price</h1>
            <input type="number" name="price-range" value="5" />
          </section>
          <section id="genre-filter" class="search-filter-menu__content__filter">
            <h1>Genre</h1>
            <ul>
              <li>
                <input type="checkbox" value="Fantasy" name="fantasy" />
                <label for="fantasy">Fantasy</label>
              </li>
              <li>
                <input type="checkbox" value="Horror" name="horror" />
                <label for="horror">Horror</label>
              </li>
              <li>
                <input type="checkbox" value="Science Fiction" name="Science Fiction" />
                <label for="Science Fiction">Science Fiction</label>
              </li>
              <li>
                <input type="checkbox" value="Romance" name="Romance" />
                <label for="Romance">Romance</label>
              </li>
              <li>
                <input type="checkbox" value="Children's" name="Children's" />
                <label for="Children's">Children's</label>
              </li>
              <li>
                <input type="checkbox" value="War" name="War" />
                <label for="War">War</label>
              </li>
              <li>
                <input type="checkbox" value="Mystery" name="Mystery" />
                <label for="Mystery">Mystery</label>
              </li>
              <li>
                <input type="checkbox" value="Thriller" name="Thriller" />
                <label for="Thriller">Thriller</label>
              </li>
              <li>
                <input type="checkbox" value="Drama" name="Drama" />
                <label for="Drama">Drama</label>
              </li>
              <li>
                <input type="checkbox" value="Coming of age" name="Coming of age" />
                <label for="Coming of age">Coming of age</label>
              </li>
              <li>
                <input type="checkbox" value="Fiction" name="Fiction" />
                <label for="Fiction">Fiction</label>
              </li>
              <li>
                <input type="checkbox" value="Autobiography" name="Autobiography" />
                <label for="Autobiography">Autobiography</label>
              </li>
              <li>
                <input type="checkbox" value="Cartoon" name="Cartoon" />
                <label for="Cartoon">Cartoon</label>
              </li>
            </ul>
          </section>
          <section id="publisher-filter" class="search-filter-menu__content__filter">
            <h1>Publisher</h1>
            <ul>
              <li>
                <input type="checkbox" value="1" name="bloomsbury" />
                <label for="bloomsbury">Bloomsbury</label>
              </li>
              <li>
                <input type="checkbox" value="2" name="chilton" />
                <label for="chilton">Chilton</label>
              </li>
              <li>
                <input type="checkbox" value="3" name="Viking Press" />
                <label for="Viking Press">Viking Press</label>
              </li>
              <li>
                <input type="checkbox" value="4" name="Simon & Schuster" />
                <label for="Simon & Schuster">Simon & Schuster</label>
              </li>
              <li>
                <input type="checkbox" value="5" name="Penguin Books" />
                <label for="Penguin Books">Penguin Books</label>
              </li>
              <li>
                <input type="checkbox" value="6" name="G. P. Putnam's Sons" />
                <label for="G. P. Putnam's Sons">G. P. Putnam's Sons</label>
              </li>
              <li>
                <input type="checkbox" value="7" name="Transworld Publishers" />
                <label for="Transworld Publishers">Transworld Publishers</label>
              </li>
              <li>
                <input type="checkbox" value="8" name="Anthos" />
                <label for="Anthos">Anthos</label>
              </li>
              <li>
                <input type="checkbox" value="9" name="De Bezige Bij" />
                <label for="De Bezige Bij">De Bezige Bij</label>
              </li>
              <li>
                <input type="checkbox" value="10" name="Black Sparrow Books" />
                <label for="Black Sparrow Books">Black Sparrow Books</label>
              </li>
              <li>
                <input type="checkbox" value="11" name="Kodansha" />
                <label for="Kodansha">Kodansha</label>
              </li>
            </ul>
          </section>
        </section>
      </section>

      <section id="book-results-main">
        <h1>Search results for:</h1>
        <h2>In: All</h2>

        <button id="filter-btn">
          Filter
        </button>

        <article class="book-item">
          <img src="./images/hp_debugimage.jpg" />
          <section>
            <h1>J.K. Rowling</h1>
            <h2>Harry Potter and the Philosopher's Stone</h2>
            <!--HIER KOMT DE RATING-->
            <article class="star-rating">
              <span class="fa fa-star checked"><em>4,5 (5 ratings)</em></span>
            </article>
            <!--AANTAL REVIEWS-->
            <p class="book-item__price">14,99</p>
            <button id="order-btn">Order</button>
          </section>
        </article>
      </section>
    </main>
    <section id="search-result-page-menu">
      <a id="search-result-page-menu__left"><</a>
      <ul>
        <li id="current-search-page"><a>1</a></li>
      </ul>
      <a id="search-result-page-menu__right">></a>
    </section>
    
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
