<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <h1>Log in</h1>
    <h2>For debugging</h2>
    <p>Enter credentials:</p>
    <form action="/login" method="post">
      E-mail: <input type="text" name="email" /><br />
      password: <input type="password" name="password" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
