<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="./css/books.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./dhtml/index.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>

    <header>
      <% include ../partials/header %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>
    <main>
      <h1>Featured book</h1>
      <article class="book-item">
        <img src="./images/bookCovers/hp.png" />
        <section>
          <h1>J.K. Rowling</h1>
          <h2>Harry Potter and the Philosopher's Stone</h2>
          <!--HIER KOMT DE RATING-->
          <article class="star-rating">
            <span class="fa fa-star checked"><em>4,5 (5 ratings)</em></span>
          </article>
          <!--AANTAL REVIEWS-->
          <p class="book-item__price">14,99</p>
        </section>
      </article>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
