<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>

    <link rel="stylesheet" type="text/css" href="../css/bookinfo.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="dhtml/index.js"></script>
    <script type="text/javascript" src="./scripts/info.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>

    <header>
      <% include ../partials/header %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>
    <main>
      <button id="shopping-bag-btn">
        <img src="../images/shopping-bag.png" />
        <span>0</span>
      </button>
      <section id="book-header">
        <img src="../images/hp_debugimage.jpg" />
        <h1>Harry Potter and the Philosopher's stone</h1>
        <a>J.K. Rowling</a>
      </section>

      <% if(loggedIn) { %> <button id="buy-btn">Buy</button> <% } %>

      <p id="buy-response-msg"></p>

      <h2>More info</h2>
      <ul>
        <li>Uitgever: Potternmore</li>
        <li>Lengte: 228 pagina's</li>
        <li>Taal: Nederlands</li>
      </ul>

      <h2>Reviews</h2>
      <article class="book-review">
        <article class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </article>
        <h3>"Meh..."</h3>
        <h4>Anonymous, 22 February 2018</h4>
        <p>Ik vond niet zo leuk.</p>
      </article>

      <article class="book-review">
        <article class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </article>
        <h3>"Very nice"</h3>
        <h4>Dirk, 12 April 2014</h4>
        <p>Super duper</p>
      </article>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
