<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/profile.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="dhtml/index.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>

    <header>
      <% include ../partials/header ) %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>
    <main>
      <button id="shopping-bag-btn">
        <img src="../images/shopping-bag.png" />
        <span>0</span>
      </button>
      <h1><%= fname + " " + lname %></h1>
      <h2>Your purchases (1)</h2>
      <section class="user-profile-container">
        <article class="user-profile-container__purchase">
          <section>
            <h3>Harry Potter and the Philosopher's Stone</h3>
            <h4>Purchased on: 27 February 2018</h4>
          </section>
          <img src="../images/hp_debugimage.jpg" />
        </article>
      </section>
      <h2>Your reviews (2)</h2>
      <section class="user-profile-container">
          <article class="user-profile-container__review">
            <h3>Harry Potter and the Philosopher's Stone</h3>
            <h4>22 February 2018</h4>
            <article class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </article>
            <p>Ik vond niet zo leuk. Dit is een wat langere review zodat we kunnen testen hoe de overflow is als de review erg lang is.</p>
          </article>
          <article class="user-profile-container__review">
              <h3>Dune</h3>
              <h4>27 May 2019</h4>
              <article class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </article>
              <p>Ik vond niet zo leuk. Dit is een wat langere review zodat we kunnen testen hoe de overflow is als de review erg lang is.</p>
            </article>
        </section>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
